@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.titulo{
  margin-left: -100px;
}

.App {
  text-align: center;
}

.form_input {
  height: 40px;
  width: 300px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
}

.form_button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 300px;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #555;
}

.table {
  width: 150%;
  margin: 20px auto;
  margin-left: -125px;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #777;
  color: white;
}

.btn_delete {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: #d9534f;
  height: 30px;
  width: 60px;
}